@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}

@layer base {
  :root {
    --primary: #1A73E8;
    --secondary: #F5F7FA;
    --text: #1F2937;
    --success: #10B981;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  background-color: red;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --tabs-list-bg: hsl(240 4.8% 95.9%); /* bg-muted */
  --tabs-list-text: hsl(240 3.8% 46.1%); /* text-muted-foreground */
  --tabs-focus-ring: hsl(240 5% 64.9%); /* ring-ring */
  --tabs-active-bg: hsl(0 0% 100%); /* bg-background */
  --tabs-active-text: hsl(240 10% 3.9%); /* text-foreground */
}


@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease-out both;
}

.animate-slide-fade-in {
  animation: slide-fade-in 0.3s ease-out both;
}
